<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>猫茂商场</title>
  <link rel="stylesheet" href="/index.css" type="text/css">
  <!--[if IE 9]>
  <style>
    #root > div,
    .ant-layout,
    .ant-layout-has-sider {
      height: 100%;
    }
    .ant-layout-has-sider > .ant-layout-sider {
      float: left;
      position: relative;
      height: 100% !important;
    }
  </style>
  <![endif]-->
</head>
<body>
  <div id="root"></div>
</body>
</html>
